#header{
    overflow: hidden;
    position: relative;
}
#header .breath__circle{
    position: absolute;
    right: 0;
    z-index: 1;
}
#header .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    gap: 1rem;
    z-index: 2;
}
#header .grid.upper{
    grid-template-columns: auto 400px;
}
#header .description{
    text-align: center;  
    margin-top: 60px; 
}
#header .social__handles__container{
    margin-top: 50px;
    position: relative;
    right: -200px;
    justify-content: center;

}
#header .profile__photo{
    object-fit:cover;
    filter: grayscale(100%);
}

@media (min-width:768px) {
    #header .abc{
        display: none;
    }
}
/* Responsiveness*/
@media(max-width:768px){
    #header .grid,
    #header .grid.upper {
        grid-template-columns: 100%;
    }
    #header .grid.upper .column:first-child{
        height: 200px;
    }
    #header .description{
        text-align: center;
        margin-top: -0px;
    }
    #header .social__handles__container{
        justify-content: center;
        left: 150px;
        margin-top: 0px;
    }
    #header .column{
        display: none;
    }
    #header .abc{
        text-align: center;
        padding-top: 10px;
        position: relative;
        top: 20px;
        left:1px;
    }
}